<h1>Listing Manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.url %></td>
    <td><%= link_to 'Show', admin_manufacturer_path(manufacturer) %></td>
    <td><%= link_to 'Edit', edit_admin_manufacturer_path(manufacturer) %></td>
    <td><%= link_to 'Destroy', admin_manufacturers_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacturer', new_admin_manufacturer_path %>
