<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Url:</b>
  <%= @manufacturer.url %>
</p>


<%= link_to 'Edit', edit_admin_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', admin_manufacturers_path %>
