<div class="section">YOUR NEW PASSWORD</div>
<div id="entry-form">
  <% current_user.password = current_user.password_confirmation = nil %> 

  <% if current_user.errors.any? %>
    <% current_user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  <% end %> 
  <%= form_for :user, :url => change_password_path do |f| -%>

  <p><%= f.label :password %><br/>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <div id="entry-form-submit">
    <%= submit_tag 'Change it', :src => '/images/button_submit.jpg', :type => 'image' %>
  </div>
  <% end -%>
  <br/>
  <br/>
  <%= link_to 'Back to your account page', users_path %>
</div>
