<h1>Listing orders</h1>

<table>
  <tr>
    <th>User</th>
    <th>Shipping address</th>
    <th>Credit card</th>
    <th>Tax cost</th>
    <th>Shipping cost</th>
    <th>Subtotal</th>
    <th>Total cost</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.user_id %></td>
    <td><%=h order.shipping_address_id %></td>
    <td><%=h order.credit_card_id %></td>
    <td><%=h order.tax_cost %></td>
    <td><%=h order.shipping_cost %></td>
    <td><%=h order.subtotal %></td>
    <td><%=h order.total_cost %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>