<p>
  <b>User:</b>
  <%=h @shipping_address.user_id %>
</p>

<p>
  <b>First name:</b>
  <%=h @shipping_address.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @shipping_address.last_name %>
</p>

<p>
  <b>Address1:</b>
  <%=h @shipping_address.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @shipping_address.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @shipping_address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @shipping_address.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @shipping_address.zip %>
</p>


<%= link_to 'Edit', edit_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', shipping_addresses_path %>