<% content_for :page_stylesheet do -%>
  <%= stylesheet_link_tag 'categories' %>
<% end %>
<% content_for :page_title do -%>
  Edit the available categories
<% end %>
<div id="breadcrumb">
<% i = 0 %>
<% @breadcrumbs.reverse.each do |crumb| %>
    <% unless crumb.children.empty? %>
    <%= link_to crumb.display_name.upcase, edit_admin_category_path(crumb) %>
    <% else %>
    <%= crumb.display_name.upcase %>
    <% end %>
    <% unless @breadcrumbs.size - 1 == i %>
      &gt;
    <% end %>
    <% i = i + 1 %>
<% end %>
</div>
<br/>
  <%= form_for([:admin, @category]) do |f| %>
    <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |msg| %>  
        <%= msg %><br>
      <% end %>  
    <% end %>  

    <p>
      <%= f.label 'Enter the name of the new category' %><br />
      <%= f.hidden_field :parent_id, :value => @parent_id %>
      <%= f.text_field :name %> <%= f.submit 'Done' %>
    </p>

  <% end %>
<br/>

